.app-wrapper {
 max-width: 1280px;
 width: 90%;
 margin: 10px auto;
}

.flex-label-wrapper-for-text-input {
 max-width: 100%;
 margin: 1em 0 1.5em 0;
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 align-items: center;
}

.flex-label-wrapper-for-text-input > input {
 padding: .4em .4em .15em .8em;
 display: inline-block;
 flex-grow: 1;
 border: none;
 border-bottom: .25em solid var(--dark-accent);
 text-align: center;
}

.flex-label-wrapper-for-text-input > input:focus {
 outline: none;
 border: none;
 border-bottom: .25em solid;
 border-image-source: linear-gradient(to right, var(--dark-accent) 5%, var(--green-accent), var(--green) 50%, var(--green-accent) 70%, var(--dark-accent) 95%);
 border-image-slice: 1;
}

.flex-label-wrapper-for-text-input > span {
 display: inline-block; 
 height: 100%;
 padding: .4em 0 0 .4em;
 align-self: flex-start;
}